body, html {
  margin: 0;
  height: 100%;
  background-color: #2A473B;

}

#submitButton {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  margin: 3%;
  height: 75px;
  width: 75px;
  border: 0;
  font-size: 25px;
  text-align: center;
  background-color: #1C2B25;
  color:white;
}

.change {
  border-radius: 50%;
}

.header {
  text-align: center;
  color: #1C2B25;
}

li {
  list-style-image: url('img/green-check-sm.png');
  color:black;
  cursor: pointer;
}

li:hover {
  list-style-image: url('img/red-x-sm.png');
  text-decoration: line-through;
  color:red;
  cursor: pointer;

}

.wrapper {
  width: 100%;
  height: 100%;
  background-color: #2A473B;
}

.inner {
  margin: 0 auto;
  width: 30%;
  height: 95%;
  background-color: white;
}

form {
  margin-top: 5%;
  padding-top: 10px;
  text-align: center;
}

.text {
  opacity: .5;
  text-align: center;
  margin: 2px;
  font-size: 13px;
}
